@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
ul{list-style:none;}
a{text-decoration:none;}
a:link{color:#333;}
a:hover{color:#FF43BE; text-decoration:underline;}
img{border:0;}
body{background:#F1F0EE;}
h3{color:#666;font-family: 'Microsoft YaHei', Tahoma, Verdana;font-weight:500;}

#header{background:#4DBECE; height:150px;overflow:hidden;}
#main{width:940px;padding:0 30px; margin:0 auto; background:#fff;}
#footer{background:#4DBECE; height:70px;font-size:12px;color:#fff; text-align:center; line-height:60px;}

#top{width:940px; margin:35px auto 0 auto; background:#fff; padding:30px; height:105px;}
.logo{float:left;}
.nav{float:right; margin-top:10px;}
.nav dl{height:35px; margin:0 auto;}
.nav dl dt{float:left; font-size:16px; line-height:35px;width:95px;}
.nav dl dt a{color:#333;padding:0 10px; display:block; text-align:center;}
.nav dl dt a:hover{text-decoration:none; background:#FF43BE;color:#fff;}
.nav dl dt .on{background:#FF43BE;color:#fff;}
.nav dl dd{background:#ccc;width:1px; height:20px; float:left; margin:7px 0;}

div.slideBox{ position:relative; width:940px; height:410px; overflow:hidden;font-family:"微软雅黑";}
div.slideBox ul.items{ position:absolute; float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li{ float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li a{ float:left; line-height:normal !important; padding:0px !important; border:none/*For IE.ADD.JENA.201206300844*/;}
div.slideBox ul.items li a img{ margin:0px !important; padding:0px !important; display:block; border:none/*For IE.ADD.JENA.201206300844*/;}
div.slideBox div.tips{ position:absolute; bottom:0px; width:100%; height:50px; background-color:#000; overflow:hidden;}
div.slideBox div.tips div.title{ position:absolute; left:0px; top:0px; height:100%;}
div.slideBox div.tips div.title a{ color:#FFF; font-size:18px; line-height:50px; margin-left:10px; text-decoration:none;}
div.slideBox div.tips div.title a:hover{ text-decoration:underline !important;}
div.slideBox div.tips div.nums{ position:absolute; right:0px; top:0px; height:100%;}
div.slideBox div.tips div.nums a{ display:inline-block; >float:left/*For IE.ADD.JENA.201206300844*/; width:20px; height:20px; background-color:#FFF; text-indent:-99999px; margin:15px 10px 0px 0px;}
div.slideBox div.tips div.nums a.active{ background-color:#093;}

#container{overflow:auto;_height:1%; margin:30px 0 0 0;}
.left{width:620px; float:left;}
.right{width:280px; float:right;}

.left dl{width:300px;}
.dll{float:left;}
.dlr{float:right;}

.left dl h3{line-height:30px;}
.left dl h3 span{font-size:12px;}
.left dl p{color:#333; line-height:24px;}
.left .md{position:relative; height:30px;overflow:hidden;}
.left .md hr{width:240px; margin-top:15px; border:0;background-color:#ccc;height:1px; text-align:left;}
.left .md span{font-size:10px;display:block; width:40px; height:30px; line-height:30px;position:absolute; top:0; right:0;}

.mod{width:100%;margin-bottom:10px;}
.mod a{color:#333;}
.mod h3{height:40px;line-height:40px; border-bottom:#ccc 1px solid; position:relative;}
.mod .box{padding:5px 0;}
.box ul li{width:100%;line-height:30px;overflow:hidden;background:url(image/ico-li.jpg) no-repeat 0 10px;text-indent: 15px; font-size:12px;}
.mod h3 span{font-size:10px;display:block; width:60px;position:absolute; top:0; right:0;}
.mod h3 i{ font-style:normal; margin-left:20px;}

.imglist{width:620px; clear:both; padding-top:30px;}
.imglist h3{height:40px;line-height:40px;}
.imgbox{height:164px;overflow: hidden;}
.imglist ul li{float:left; width:155px; text-align:center;}
.imglist ul li p{text-align:center; line-height:24px;color:#666;}